.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  
  .login_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .login_content > img {
    width:400px;
  }
  



.login_content Button{
  width:400px;
     background-color:white;
    border-radius:20px ;
    color:black;
    font-size:30px;
}

  .login_content Button:hover{
    background-color: hsla(0, 0%, 100%, 0.463);
    transform: scale(1.1);

  }
