body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url('https://media.istockphoto.com/id/1353027787/photo/question-marks-background.jpg?b=1&s=612x612&w=0&k=20&c=jxUhxPpj8gj3UWTSmMhIzcHs3gvbDRDQvLKF0DFsA3I=');
  background-repeat: repeat;
  background-size: contain;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn:hover {
  box-shadow: unset !important;
}

input[type="button"] {
  outline: none !important;
}

button::selection {
  outline: none !important;
}

.btn::selection {
  outline: none;
}

button:focus {
  outline: none !important;
}

:root {
  --vp: 0.052vw;
  --vm: 0.278vw;
}